
/*--------------------------------------Globle style----------------------------*/
body{
    font-family:'Open Sans',sans-serif;
    margin: 0%;
}
h1,h2{
    font-family: 'Caveat',cursive;
    
    font-weight: 400; 

}

h1{
 font-size: 80px;
}

h2{
    font-size: 40px;
    margin-top: 0;
}
h3{
 margin: 0;
}
/*------------------------Naviga-------------------------*/
nav{
    text-align: center;
    width: 100%;
    background-color: white;
    /* position: sticky; */
    position: fixed;
    top:0;  
    /* 
    //也可以
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:5px;
    text-align:center; */
}
nav a{
  display: inline-block;/*内联样式 排成一排*/
  margin: 5px;
  text-decoration: none;
  font-weight: 700;
  font-size: 11px;
  text-transform: uppercase;/*d大写*/
  color: #2b2D42;
}
/* @media screen and如果文档宽度小于 440 像素则修改 font-size 便于手机 PC等*/
@media screen and (min-width:440px) {
    nav a{
        margin: 14px;
        font-size: 16px;
    }
}

/*-----------------------------------------Header only--------------------------*/
header{
    position: relative;/*设置整体和Nav的间距*/
    padding-top: 80px;
    padding-bottom: 40px;
    text-align: center;
    background-color: #2b2D42;
    color: #8D99AE;
}
header h1,header h2{
    color: #EDF2F4;
}
h1{
    margin: 0;
}
.content-wrap{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;/*水平居中*/
    max-width: 950px;
    overflow: hidden;
}

/*在手机里的时候显示是同一行*/
/* @media screen and (min-width:935px) {
    .content-wrap{
        flex-direction: row;
    } 
} */

.profile-imag{
 width: 150px;
 height: 200px;
 border-radius: 50%;
}

@media (min-width:440px) {
    .profile-imag{
        width: 150px;
        height: 160px;
       }
}
/* @media (min-width:935px) {
    .profile-imag{
        width: 250px;
        height: 250px;
       }
} */

.btn{
    text-decoration: none;
    background: #EF233C;
    color: white;
    padding: 0 5px 0 5px;
}

@media (min-width:440px) {
   .btn{
    padding: 10px;
   } 
}

.download{
    position: absolute;
    right: 0;
    bottom: 0;
}

/*...................................work....................................*/
.work-experience{
    padding-top: 40px;
    background-color: #EDF2F4;
}
.work-wrapper{
    margin: 0 auto;
    padding: 0 30px;
    max-width: 950px;
}
.job-wrapper{
    display: block;
    padding-bottom: 30px;
}
@media (min-width:935px) {
    .job-wrapper{
        display: grid;
        grid-template-columns: 1fr 2.5fr;/*左右比例是1:2.5*/
        column-gap: 30px;
    }
 }
 h3~p{/*非常重要 是同一div中的h3后面的所有的p标签====》h3~p*/
    margin: 0;
 }
 @media (min-width:935px) {
    .job-description p:first-of-type{/*非常重要 p:first-of-type是指第一个p标签中的margin为0  其他的还是为16默认值*/
        margin: 0;
    }
 }

 ol li{
    margin:8px 0;
    padding-left: 15px;
 }
 ol li a{
    color: blue;
 }
 /*----------------------------education-----------------------------*/
 .education{
    padding: 40px 0;
    background: linear-gradient(rgba(141,153,174,0.9), rgba(141,153,174,0.7)),
    url(./assets/8.png) no-repeat fixed;/*渐变颜色  fixed起到图片不动的效果*/
    background-size: cover;/*必须加 否则无法显示图片*/
 }
 .education-wrapper{
    margin:0 auto;
    padding: 0 30px;
    max-width: 950px;
 }
 ul{
    margin-top: 0;
 }
 /*---------------------------footer--------------------------*/
 footer{
    text-align: center;
    background-color: #2b2D42;
    color: #8D99AE;
 }
 .contact-wrap{
    margin: 0 auto;
    padding: 30px 0;
    max-width: 900px;
 }
 
 /*
 .contact-button{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

 }

 .media-pic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: #8D99AE solid 2px;
 }
 .media-pic:hover{
    transform: scale(1.1);
 }

 p+h3{
    margin-top: 30px;
 }
 footer p{
    margin-top: 50px;
 }
 */